#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.added {
  color: green;
  background-color: lightgrey;
  padding: 0px 15px 0px 15px;
  border-style: solid;
  margin-bottom: 10px;
  font-size: 15px;
}

.deleted {
  color: red;
  background-color: lightgrey;
  padding: 0px 15px 0px 15px;
  border-style: solid;
  margin-bottom: 10px;
  font-size: 15px;
}